@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.main {
    width: 100vW;
    height: 100vH;
    background-image: url("images/mqdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login {
    width: 100vW;
    height: 100vH;
    background-image: url("images/mqdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.welcome {
    width: 100%;
    height: 6vH;
    font-size: 50px;
    font-weight: 600;
    align-content: center;
    text-align: center;
    text-shadow: 13px 8px 9px rgba(255, 255, 150, 1);
    background-color: rgba(10, 10, 10, 50%);
    overflow: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
}

.logo{
    width: 5vW;
    position: absolute;
    left: 0;
}

.logoimg{
    width: 50%;
}

.content {
    width: 30vW;
    height: 40vH;
    background-color: rgba(10, 10, 10, 50%);
    border-radius: 8px;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 100%);
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
}

.navi {
    background-color: rgba(10, 10, 10, 45%);
    width: 100%;
    height: 5vH;
    text-align: center;
}

.liste {
    width: 100%;
    height: 5vH;
    position: absolute;
    top: 6Vh;
    line-height: 4.5vh;
}


.foot {
    font-size: 28px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4vH; /* Height of the footer */
    background: transparent;
    background-color: rgba(10, 10, 10, 50%)
}

.pollo {
    width: 100vW;
    height: 100vH;
    background-image: url("images/mqdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pollo-innerein {
    width: 30vW;
    height: 40vH;
    background-color: black;
    background-color: rgba(10, 10, 10, 50%);
    border-radius: 8px;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 100%);
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
}

.logged_in_content{
    width: 20vW;
    height: 20vH;
    background-color: black;
    background-color: rgba(10, 10, 10, 50%);
    border-radius: 8px;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 100%);
    position: absolute;
    top: 30%;
    left: 40%;
    text-align: center;
}

.logged_in {
    width: 100vW;
    height: 100vH;
    background-image: url("images/mqdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logincontent{
    width: 20vW;
    height: 20vH;
    background-color: black;
    background-color: rgba(10, 10, 10, 50%);
    border-radius: 8px;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 100%);
    position: absolute;
    top: 30%;
    left: 40%;
    text-align: center;
}
.loginfelder{
    margin: 5%;
}


#inputgeb{
    width: 27.5%;
}

#nosignup{
    margin: 10px 0px;
}

#loginhere{
    color: cornflowerblue;
}

#submit_login{
    width: 20%;
    height: 15%;
    margin: 10px 5px;
    color: black;
}

#loginheader{
    font-size: 4vH;
    font-weight: bold;
}

#mail_login{
    width: 70%;
    height: 2vH;
    margin: 10px 5px;
}

#pw_plogin{
    width: 70%;
    height: 2vH;
}

#bundesland {
    width: 28%;
    color: grey;
}

#donate {
    color: black;
}

#submit {
    color: black;
}

#exit {
    color: black;
}

.buttons {
    position: relative;
}

input {
    color: grey;
}

input[type=file] {
    color: white;
}
